.food-head h3 {
    color: rgb(130, 201, 25);
}

.food-head h3:hover {
    color: black;
    transition: all;
    transition-duration: 10s;
    transform: scale(1, 1.15);
}

.display {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 100%;
}

.food-display {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 40px 0 40px;
    margin-bottom: 120px;
}

.cart {
    background-color: burlywood;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    margin-bottom: 120px;
}

.cart-display {
    position: sticky;
    top: 150px;
}

.cart-display hr {
    border-top: 1px dotted red;
}

@media only screen and (max-width:576px) {
    .display {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        grid-gap: 50px;
    }

    .food-display {
        gap: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0 40px 0 40px;
        margin-bottom: 120px;
        width: 100%;
    }
}

@media only screen and (min-width:577px) and (max-width:992px) {
    .display {
        display: grid;
        grid-template-columns: 2fr 1fr;
        width: 100%;
        gap: 50px;
    }

    .food-display {
        gap: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 40px 0 40px;
        margin-bottom: 120px;
        width: 100%;
    }
}

/* @media only screen and(min-width:993px) and(max-width:1600px) {
    .display {
        display: grid;
        grid-template-columns: 3fr 1fr;
        width: 100%;
    }

    .food-display {
        gap: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0 40px 0 40px;
        margin-bottom: 120px;
        width: 100%;
    }
} */